{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}


{% block content %}
<div> <!-- 카테고리 버튼들 -->
    <!-- <li> 이부분은 서브카테고리 만들었을 때 전체보기 가능하도록 할 자리 </li> -->
    {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.get_name_display }}</a>
        </li>
    {% endfor %}
</div>

<div class="d-flex justify-content-between">
    <div class="flex-grow-1" style="flex-basis: 30%;"> <!-- 왼쪽 필터 -->
        <div class="p-3">
            필터링
        </div>
    </div>
    <div class="flex-grow-1" style="flex-basis: 70%;"><!-- 상품 리스트 -->
        <div class="p-3">
            {% for product in products %}
                <div>
                    <a href="{{ product.get_absolute_url }}"><!-- 디테일로 이동 -->
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" width="320" height="210">
                    </a>
                    <br>
                    <a href=""><!-- 장바구니에 담는 기능 팝업 -->
                        <button>담기</button>
                    </a>
                    <br>
                    <a href="{{ product.get_absolute_url }}">{{ product.product_name }}</a><!-- 디테일로 이동 -->
                    <br>
                    {{ product.price }}원
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}