{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Kurly
{% endblock %}


{% block content %}
<!-- 홈페이지 화면 -->
<div class="container my-5">
    <div class="splide" role="group" aria-label="제품 슬라이더">
        <div class="splide__track">
            {% for product in products %}
            <ul class="splide__list">
                
                <li class="splide__slide">
                    <div class="card">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}">
                        </a>
                        <div class="card-body">
                            <p class="card-title">{{ product.product_name }}</p>
                            <p class="card-text">가격: {{ product.price }}원</p>
                            <a href="{{ product.get_absolute_url }}" class="btn btn-primary">자세히 보기</a>
                        </div>
                    </div>
                </li>
                
            </ul>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}